#preloader {
    background-color: $white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1100;
  }
  
  #preloader > img {
    left: 47%;
    position: absolute;
    top: 48%;
  }