// ----------- COLORS -----------
$black: #000;
$white: #fff;
$grey: #ccc;
$dark-grey: darken($grey, 25%);
$light-grey: rgb(233, 233, 233);
$middle-grey: darken($grey, 15%);

$primary-color: $white;
$secondary-color: #726DA8;
//$highlight-color: #0feb9e;
$highlight-color: #7D8CC4;
$link-color: rgb(16, 22, 54);
$primary-background: rgb(16, 22, 54);
$secondary-background: #726DA8;
$highlight-background: #819C8A;
$font-size-xxl: 2.1rem;
$font-size-xl:1.8rem;
$font-size-large:1.5rem;
$base-font-size: 1.1rem;
$font-size-middle: 1.2rem;
$font-size-small: 0.95rem;
$small-font-size:  $base-font-size * 0.875 !default;
$spacing-unit:     30px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }

$sans-serif-font-stack: 'Roboto', 'Arial', 'sans-serif';

// Source Serif Pro
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf");  
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}

$subsection-top-padding:100px;


$header-background: green;

$default-color: #fff;
$dark-default:darken($default-color, 5%);
$link-hover-color: $header-background;


$heading-size: 12rem;
$secondary-heading-font-size: 10rem;
