{{page.lang }}
<section id="contact">
    <div class="container contact">
        <div class="row section-title">
            <div class="wow fadeInUp animated text-center sub-heading" data-wow-duration="600ms">
                <h2>Contact</h2>
                <div class="devider"><i class="fa fa-signal fa-lg"></i></div>
            </div>
            <div class="text-center wow fadeInRight animated section-description" data-wow-duration="400ms">
                <p>Any Questions? Reach out to us.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-2">
                <h3>FH Steyr</h3>
                <p>Stefan Fink</p>
                <p>Funktion: Projektleiter</p>
                <p>Telefon: +43 23942 9234</p>
                <p>E-Mail: vorname.nachname@fhooe.at</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3>FH Hagenberg</h3>
                <p>Ulrich Bodenhofer</p>
                <p>Funktion: Projektleitung</p>
                <p>Telefon: +43 23942 9234</p>
                <p>E-Mail: vorname.nachname@fhooe.at</p>
            </div>
        </div>
    </div>
</section>