{{page.lang }}
<section id="contact">
    <div class="container contact">
        <div class="row">
            <div class="wow fadeInUp animated text-center secondary-heading" data-wow-duration="600ms">
                <h2>Contact</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-2">
                <h3>FH Steyr</h3>
                <p>Vorname Nachname</p>
                <p>Funktion: Funktion</p>
                <p>Telefon: +43 23942 9234</p>
                <p>E-Mail: vorname.nachname@fhooe.at</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <h3>FH Hagenberg</h3>
                <p>Vorname Nachname</p>
                <p>Funktion: Funktion</p>
                <p>Telefon: +43 23942 9234</p>
                <p>E-Mail: vorname.nachname@fhooe.at</p>
            </div>
        </div>
    </div>
</section>