<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInUp animated" data-wow-duration="500ms">
                <div class="footer-logo"><h2>FinCom</h2></div>
                <p>FinCom - Financial Condition Monitoring</p>
                <p>FH OÖ Forschungs & Entwicklungs GmbH</p>
                <p>Roseggerstraße 15, 4600 Wels Austria</p>
                <p>Phone.: +43 5 0804 10, Fax: +43 5 0804 11900</p>
                <p>Mail: info@fh-ooe.at</p>
            </div>
            <div class="col-md-3 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">FH Oberösterreich</a</li>
                    <li><a href="#">HEAL</a></li>
                    <li><a href="#">HeuristicLab</a></li>
                </ul>
            </div>
            <div class="col-md-3 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <h3>Infos</h3>
                <ul>
                    <li><a href="#">Impressum</li>
                    <li><a href="#">Datenschutz</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Pressematerial</a></li>
                </ul>
            </div>
            <div class="col-md-3 wow fadeInUp animated align-items-center justify-content-between" data-wow-duration="500ms" data-wow-delay="900ms">
                <ul class="iconlist">
                    <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-disclosure">
            <div class="col-md-3">
                <p>&copy; 2022 | Financial Condition Monitoring</p>
            </div>
            <div class="col-md-9">
                <p>
                    The Financial Condition Monitoring project is funded
                    the state of Upper Austria as part of the
                    #upperVision2030 program. For more information,
                    visit <a href="#">www.uppervision.at</a>
                </p>
            </div>
        </div>
    </div>
</section>