<section id="project">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp animated text-center secondary-heading" data-wow-duration="600ms">
                <h2>The Project</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>
        </div>

        <div class="row pad-bottom-40 wow animated slideInLeft" data-wow-duration="600ms">
            <div class="col-md-4 title-column d-flex justify-content-center align-items-center">
                <h3>Ziele</h3>
            </div>
            <div class="col-md-8">
                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/goal.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Modellierung des Financial Stress</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <ol>
                            <li>Identifikation von kurzfirsten Frühwarnindikatioren</li>
                            <li>Ermittlung von langristigen strategischen Risikopotenzialen</li>
                            <li>Ableitung von Handlungsempfehlungen zur Mitigation von finanziellen Risikofaktoren</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row pad-bottom-40 wow animated slideInRight" data-wow-duration="600ms">
            <div class="col-md-8 order-xs-2">
                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/models.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Datenbasierte Modelle</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <p>
                            Bei den datenbasierten Modellen werden die und Trens aus den DAten abgeleitet. Die Datensatz dazu und spiegeln so die Realität wieder.
                        </p>
                    </div>
                </div>
                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/models.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Analytische Modelle</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <p>Bei den analytischen Modellen handelt es sich um theoriebasierte Prognosemodelle aus der Ökonomie- und Finanzforschung. Diese können
                        durch neue Daten abegändert oder erweitert werden, grundsätzlich bleibt aber der Theoriebzeug erhalten. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 title-column d-flex justify-content-center align-items-center order-xs-1">
                <h3>Modelle</h3>
            </div>
        </div>

        <div class="row wow animated slideInLeft" data-wow-duration="600ms">
            <div class="col-md-4 title-column d-flex justify-content-center align-items-center">
                <h3>Methoden</h3>
            </div>
            <div class="col-md-8 project-desc-column">
                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/analytics-1.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Präskriptive Analytik</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <h5>Wie können wir die Geschehnisse Beinflussen?</h5>
                        <ul>
                            <li>Prescriptive Condition Monitoring</li>
                            <li>Analyse der Wirkungsktten</li>
                            <li>Szenario Analyse (Was-wäre-wenn?)</li>
                            <li>Analyse der Vertrauenswürdigkeit der Vorhersage</li>
                            <li>Identifikation von Maßnahmen zur Risikomitigation</li>
                        </ul>
                    </div>
                </div>

                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/analytics-2.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Prädiktive Analytic</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <h5>Was wird passieren?</h5>
                        <ul>
                            <li>Machine Learning und Regressionsanalysen im finazwirtschftlichen Risikomanagmenet</li>
                            <li>Ableitung von Frühwarnindikatoren und langristigen Risikopotenzialen</li>
                        </ul>
                    </div>
                </div>

                <div class="row  align-items-center project-title-row">
                    <div class="col-md-2">
                        <img src="{{ "/assets/img/analytics-3.png" | relative_url }}" alt="Team Member" class="project-img img-fluid" />
                    </div>
                    <div class="col-md-10 text-align-start">
                        <h4>Deskriptive Analytik</h4>
                    </div>
                </div>
                <div class="row project-desc-row">
                    <div class="col-md-12">
                        <h5>Was ist Passiert?</h5>
                        <ul>
                            <li>Analyse der finanzwirtschafltichen
                            Risikodaten</li>
                            <li>Berscheibung der Variablen (zeitliche
                            Entwicklungen, deskriptive Statistik)</li>
                            <li>Korrelationsanalysen (Identifkation
                            erster Risikofatkoren)</li>
                            <li>Visualiserungstechniken</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>