<section id="team" class="team">
    <div class="container">
        <div class="row section-title">
            <div class="wow fadeInUp animated text-center sub-heading" data-wow-duration="600ms">
                <h2>This Is Our Team</h2>
                <div class="devider"><i class="fa fa-signal fa-lg"></i></div>
            </div>

            <div class="text-center wow fadeInRight animated section-description" data-wow-duration="400ms">
                <p>This is our Team of the FinCoM project. We are sutdents, reasearchers and professors from the University of Applied Sciences Upper Austria.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- member -->
            <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
            <div class="member-img">
                    <img src="{{ "/assets/img/fink.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
            </div> 
            <h4>Stefan Fink</h4>
            <span>Professor für Finanz-Risikomanagement</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/ulrich.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Ulrich Bodenhofer</h4>
                <span>Professor für Artificial Intelligence</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/kommenda.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Michael Kommenda</h4>
                <span>Senior Reseracher</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/lehner.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Othmar Lehner</h4>
                <span>Professor für Digital Accounting</span>
            </figure>
            <!-- member end-->
            </div>    
            <div class="row justify-content-center">
                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/leitner.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Susanne Leitner-Hanetseder</h4>
                    <span>Professorin für Rechnungslegung</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/perkhofer.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Lisa Perkhofer</h4>
                    <span>Research Project Manager</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/josef.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Josef Baumüller</h4>
                    <span>Postdoktorand</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/fabian.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Fabian Altendorfer</h4>
                    <span>Wissenschaftlicher Mitarbeiter</span>
                </figure>
                <!-- member end-->
            </div>

            <div class="row justify-content-center">
                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/lydia.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Lydia Darmann</h4>
                    <span>PhD Studentin</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/xaver.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Xaver Eisl</h4>
                    <span>Wissenschaftlicher Mitarbeiter</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/jakob.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Jakob Furtlehner</h4>
                    <span>Wissenschaftlicher Mitarbeiter</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/theresa.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Theresa Grünsteidl</h4>
                    <span>Master Studentin</span>
                </figure>
                <!-- member end-->
            </div>

            <div class="row justify-content-center">
                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/christian_hof.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Christian Hofbauer</h4>
                    <span>Master Student</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/christian_hai.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Christian Haider</h4>
                    <span>PhD Student</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/natasha.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Natasha Tralkovska</h4>
                    <span>PhD Studentin</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-lg-6 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/sebastian.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Sebastian Dorl</h4>
                    <span>PhD Student</span>
                </figure>
                <!-- member end-->
            </div>
        </div>
</section>