<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp animated text-center secondary-heading" data-wow-duration="600ms">
                <h2>This Is Our Team</h2>
                <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            </div>

            <div class="text-center wow fadeInRight animated secondary-sub" data-wow-duration="400ms">
                <p>This is our Team of the FinCoM project. We are sutdents, reasearchers and professors from the University of Applied Sciences Upper Austria.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- member -->
            <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
            <div class="member-img">
                    <img src="{{ "/assets/img/fink.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
            </div> 
            <h4>Stefan Fink</h4>
            <span>Professor für Finanz-Risikomanagement</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/ulrich.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Ulrich Bodenhofer</h4>
                <span>Professor für Artificial Intelligence</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/kommenda.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Michael Kommenda</h4>
                <span>Senior Reseracher</span>
            </figure>
            <!-- member end-->

            <!-- member -->
            <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="member-img">
                    <img src="{{ "/assets/img/lehner.png" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                </div> 
                <h4>Othmar Lehner</h4>
                <span>Professor für Digital Accounting</span>
            </figure>
            <!-- member end-->
            </div>    
            <div class="row justify-content-center">
                <!-- member -->
                <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/leitner.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Susanne Leitner-Hanetseder</h4>
                    <span>Professorin für Rechnungslegung</span>
                </figure>
                <!-- member end-->

                <!-- member -->
                <figure class="member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="200ms">
                    <div class="member-img">
                        <img src="{{ "/assets/img/perkhofer.jpg" | relative_url }}" alt="Team Member" class="img-thumbnail img-fluid">
                    </div> 
                    <h4>Lisa Perkhofer</h4>
                    <span>Research Project Manager</span>
                </figure>
                <!-- member end-->
            </div>
        </div>
</section>